.legend {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  gap: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-line {
  width: 30px;
  height: 2px;
}
